In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\SAGAR M S\\final_project_ML\\dementia_dataset.csv")
df

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,OAS2_0185,OAS2_0185_MR2,Demented,2,842,M,R,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,OAS2_0185,OAS2_0185_MR3,Demented,3,2297,M,R,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,OAS2_0186,OAS2_0186_MR1,Nondemented,1,0,F,R,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,OAS2_0186,OAS2_0186_MR2,Nondemented,2,763,F,R,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,OAS2_0186,OAS2_0186_MR3,Nondemented,3,1608,F,R,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Subject ID  373 non-null    object
 1   MRI ID      373 non-null    object
 2   Group       373 non-null    object
 3   Visit       373 non-null    int64
 4   MR Delay    373 non-null    int64
 5   M/F         373 non-null    object
 6   Hand        373 non-null    object
 7   Age         373 non-null    int64
 8   EDUC        373 non-null    int64
 9   SES         354 non-null    float64
 10  MMSE        371 non-null    float64
 11  CDR         373 non-null    float64
 12  eTIV        373 non-null    int64
 13  nWBV        373 non-null    float64
 14  ASF         373 non-null    float64
dtypes: float64(5), int64(5), object(5)
memory usage: 43.8+ KB

In [3]:
df.isnull().sum()

Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [4]:
df['SES'].fillna(df['SES'].median(),inplace=True)

In [5]:
df['MMSE'].fillna(df['MMSE'].median(),inplace=True)

In [6]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [7]:
df = df.drop('Hand', axis=1)

In [8]:
df = df.drop('Subject ID', axis=1)
df = df.drop('MRI ID', axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Group     373 non-null    object
 1   Visit     373 non-null    int64
 2   MR Delay  373 non-null    int64
 3   M/F       373 non-null    object
 4   Age       373 non-null    int64
 5   EDUC      373 non-null    int64
 6   SES       373 non-null    float64
 7   MMSE      373 non-null    float64
 8   CDR       373 non-null    float64
 9   eTIV      373 non-null    int64
 10  nWBV      373 non-null    float64
 11  ASF       373 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 35.1+ KB

In [10]:
d = {'M': 0, 'F': 1}
df['M/F'] = df['M/F'].map(d).fillna(df['M/F'])

In [11]:
df

,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,Nondemented,1,0,0,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,Nondemented,2,457,0,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,Demented,1,0,0,75,12,2.0,23.0,0.5,1678,0.736,1.046
3,Demented,2,560,0,76,12,2.0,28.0,0.5,1738,0.713,1.010
4,Demented,3,1895,0,80,12,2.0,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...
368,Demented,2,842,0,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,Demented,3,2297,0,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,Nondemented,1,0,1,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,Nondemented,2,763,1,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,Nondemented,3,1608,1,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [12]:
d = {'Nondemented': 0, 'Demented': 1,'Converted':2}
df['Group'] = df['Group'].map(d).fillna(df['Group'])

In [13]:
df

,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0,1,0,0,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,0,2,457,0,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,1,1,0,0,75,12,2.0,23.0,0.5,1678,0.736,1.046
3,1,2,560,0,76,12,2.0,28.0,0.5,1738,0.713,1.010
4,1,3,1895,0,80,12,2.0,22.0,0.5,1698,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...
368,1,2,842,0,82,16,1.0,28.0,0.5,1693,0.694,1.037
369,1,3,2297,0,86,16,1.0,26.0,0.5,1688,0.675,1.040
370,0,1,0,1,61,13,2.0,30.0,0.0,1319,0.801,1.331
371,0,2,763,1,63,13,2.0,30.0,0.0,1327,0.796,1.323
372,0,3,1608,1,65,13,2.0,30.0,0.0,1333,0.801,1.317

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = df.drop(['Group'], axis='columns')
y = df.Group

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# scaler.fit(df[['Visit','MR Delay','M/F','Age','EDUC','SES','MMSE','CDR','eTIV','nWBV','ASF']])
# df['Visit','MR Delay','M/F','Age','EDUC','SES','MMSE','CDR','eTIV','nWBV','ASF'] = scaler.transform(df[['Visit','MR Delay','M/F','Age','EDUC','SES','MMSE','CDR','eTIV','nWBV','ASF']])

scaler.fit(df[['Group']])
df['Group'] = scaler.transform(df[['Group']])


scaler.fit(df[['MR Delay']])
df['MR Delay'] = scaler.transform(df[['MR Delay']])


scaler.fit(df[['M/F']])
df['M/F'] = scaler.transform(df[['M/F']])



scaler.fit(df[['Age']])
df['Age'] = scaler.transform(df[['Age']])



scaler.fit(df[['EDUC']])
df['EDUC'] = scaler.transform(df[['EDUC']])



scaler.fit(df[['SES']])
df['SES'] = scaler.transform(df[['SES']])


scaler.fit(df[['MMSE']])
df['MMSE'] = scaler.transform(df[['MMSE']])


scaler.fit(df[['CDR']])
df['CDR'] = scaler.transform(df[['CDR']])


scaler.fit(df[['eTIV']])
df['Group'] = scaler.transform(df[['eTIV']])


scaler.fit(df[['Group']])
df['eTIV'] = scaler.transform(df[['eTIV']])



scaler.fit(df[['nWBV']])
df['nWBV'] = scaler.transform(df[['nWBV']])


scaler.fit(df[['ASF']])
df['ASF'] = scaler.transform(df[['ASF']])

D:\Sagar\ana\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- eTIV
Feature names seen at fit time, yet now missing:
- Group

  warnings.warn(message, FutureWarning)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [19]:
len(X_train)

298

In [20]:
len(X_test)

75

In [21]:
from sklearn.svm import SVC
model = SVC()

In [22]:
 model.fit(X_train, y_train)

SVC()

In [23]:
model.score(X_test, y_test)

0.9066666666666666

In [24]:
model.predict([[3,2000,0,80,12,2,22,1,1700,1,2]])

array([0], dtype=int64)